# Visual Studio Code
*.vscode

# Jupyter Notebook
*.ipynb_checkpoints

# Data
*.parquet
*.txt
*.tar.gz

# Python
*__pycache__

# IPython
profile_default/
ipython_config.py

# Debug
debug.log

# workspace
*.code-workspace

# notebooks folder
/notebooks